@import '../Essentials/variables';


.about-section-title{
    font-family:$bodoni;
    font-size:3vw;
    padding:0vw 5vw 5vw 10vw;
    margin-top:-2vw;
}

.about-intro-section{

    display:flex;
    flex-flow:row nowrap;
    font-family:$montserrat;
    padding:0vw 5vw 5vw 10vw;
    
    .qa-section{

        width:50%;
        position:relative;

        .about-section-subQuestion{
            color:#E6B77F;
            font-weight:900;
            font-size:2.3vw;

        }
        .about-section-subAnswer{
            color:#E6B77F;
            font-weight:200;
            font-size:2.3vw;
        }

    }
    .about-section-subIntro{

        padding:0vw 10vw 0vw 0vw;
        font-weight:200;
        font-size:1.3vw;
        text-align:justify;
        width:50%;


    }
}

.about-section{
    display:flex;
    flex-flow:column nowrap;
    font-family:$montserrat;
    padding:2vw 5vw 0vw 10vw;
    position:relative;

    .about-section-left{
        width:45%;


        
        .about-section-intro{
            padding:2vw 2vw 3vw 0vw;
            font-weight:200;
            font-size:1.3vw;
        }
        .about-section-separator{
              width:20%;
              height:0.5vw;
              background-color:#E6B77F;
              border:none;
          }
        
        .about-section-subQuote{
            color:#E6B77F;
            font-weight:900;
            font-size:2.3vw;

        }
        .about-section-subAnswer{
            color:#E6B77F;
            font-weight:200;
            font-size:2.3vw;
        }


       
    }
    .about-section-right{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-around;
        padding:5vw 0vw 10vw 0vw;

        .icon-box{
            display:flex;
            flex-flow:column nowrap;
            align-items:center;
            justify-content: flex-start;
            width:30%;
        }
        

        .about-section-designIcon,.about-section-analyticsIcon,.about-section-allIcon{

            width:6vw;
            height:auto;
        }


        .about-section-design, .about-section-analytics,.about-section-all{
            h1{
                font-weight:200;
                font-size: 2vw;
                text-align:center;
                padding-top:2vw;

            }
            p{
                font-weight:200;
                font-size:1.3vw;
                
            }
        }
    }

    .about-section-squares{
        position:absolute;
        width:25vw;
        height:auto;
        top:10vw;
        right:15vw;

        
    }
}


@media only screen and (min-width: $big-screen) {

}

@media only screen and (max-width:$tablet) and (min-width:$phone){

    .about-section-title{
        font-size:5vw;
        padding:0vw 10vw 0vw 15vw;
        margin-top:0vw;
    }
    
    .about-intro-section{
    
        
        padding:5vw 5vw 5vw 15vw;
        
        .qa-section{
    
            width:40%;
    
            .about-section-subQuestion{
                
                font-size:4vw;
    
            }
            .about-section-subAnswer{
               
                font-size:4vw;
            }
    
        }
        .about-section-subIntro{
    
            padding:0vw 5vw 0vw 5vw;
            font-size:2.5vw;
            width:60%;
    
    
        }
    }
    
    .about-section{
       
        padding:2vw 3vw 0vw 15vw;
    
        .about-section-left{
            width:60%;
    
            
            .about-section-intro{
                padding:2vw 3vw 3vw 0vw;
                font-size:2.5vw;
            }
            .about-section-separator{
                  width:20%;
                  height:1vw;
                 
              }
            
            .about-section-subQuote{
           
                font-size:4vw;
                padding-right:3vw;
    
            }
            .about-section-subAnswer{
             
                font-size:4vw;
            }
    
    
           
        }
        .about-section-right{
            flex-flow:row wrap;
            justify-content: flex-start;
            padding:5vw 0vw 10vw 0vw;
    
            .icon-box{
                display:flex;
                flex-flow:column nowrap;
                align-items:center;
                justify-content: flex-start;
                width:45%;
                padding-bottom:10vw;
                padding-right:3vw;
            }
            
    
            .about-section-designIcon,.about-section-analyticsIcon,.about-section-allIcon{
    
                width:10vw;
                height:auto;
            }
    
    
            .about-section-design, .about-section-analytics,.about-section-all{
                h1{
                    font-size: 3vw;
                    text-align:center;
                    padding-top:2vw;
    
                }
                p{
                    font-size:2.5vw;
                    text-align:center;
                    
                }
            }
        }
    
        .about-section-squares{
            position:absolute;
            width:40vw;
            height:auto;
            top:30vw;
            right:5vw;
    
            
        }
    }
        


    

    

}


@media only screen and (max-width:$phone){

    .about-section-title{
        font-size:6vw;
        padding:0vw 10vw 0vw 18vw;
        margin-top:-10vw;
    }
    
    .about-intro-section{
    
        
        padding:5vw 10vw 5vw 18vw;
        flex-flow:column nowrap;
        
        .qa-section{
    
            width:100%;
    
            .about-section-subQuestion{
                
                font-size:6vw;
    
            }
            .about-section-subAnswer{
               
                font-size:6vw;
            }
    
        }
        .about-section-subIntro{
    
            padding:5vw 0vw 5vw 0vw;
            font-size:4vw;
            width:100%;
    
    
        }
    }
    
    .about-section{
       
        padding:5vw 10vw 5vw 18vw;
    
        .about-section-left{
            width:100%;
    
            
            .about-section-intro{
                padding:5vw 0vw 3vw 0vw;
                font-size:4vw;
            }
            .about-section-separator{
                  width:30%;
                  height:2vw;
                 
              }
            
            .about-section-subQuote{
           
                font-size:6vw;
                padding-right:0vw;
                padding-top:5vw;
    
            }
            .about-section-subAnswer{
             
                font-size:6vw;
            }
    
    
           
        }
        .about-section-right{
            flex-flow:column nowrap;
            justify-content: flex-start;
            padding:5vw 0vw 10vw 0vw;
    
            .icon-box{
                display:flex;
                flex-flow:column nowrap;
                align-items:flex-start;
                justify-content: flex-start;
                width:100%;
               
                padding:10vw 3vw 10vw 0vw;
            }
            
    
            .about-section-designIcon,.about-section-analyticsIcon,.about-section-allIcon{
    
                width:15vw;
                height:auto;
            }
    
    
            .about-section-design, .about-section-analytics,.about-section-all{
                h1{
                    font-size: 6vw;
                    padding-top:2vw;
                    text-align:left;
    
                }
                p{
                    font-size:4vw;
                    
                }
            }
        }
    
        .about-section-squares{
            position:absolute;
            width:40vw;
            height:auto;
            top:30vw;
            right:5vw;
    
            
        }
    }

}