@import '../Essentials/variables';

.cover{
    padding:0;
    margin:0;
    height:100vh;
    width:100%;
    max-height:100%;
}

.container {
   
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
    width:100%;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }
  .inactive-container {
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    height:100vh;
    width:100%;

    scrollbar-width: none;
  }

  .container::-webkit-scrollbar{
     display: none;
  }
  
  .child {
    scroll-snap-align: start;
    scroll-snap-stop: always;
     .child-desc{
         color:white;
         font-family:$montserrat;
         font-weight:900;
         font-size:3vw;
         position:absolute;
         top:22vw;
         left:10vw;
     }
  }


 

  .stop-scroll{
      position:fixed;
      top:0;
      width:100%;
      overflow-y: scroll;
      

  }

  

  .container,.inactive-container{

    .fixed-header{
        position:absolute;
        top:7vw;
        left:10vw;
        z-index:99;
        color:white;


        .fixed-header-logo{
            width:5vw;
            height:auto;
        }

        .fixed-header-title{
            font-family:$montserrat;
            font-weight:100;
            font-size:1.6vw;
            padding-top:1vw;
        }

    }

    .container-swipe-lines{
        display:flex;
        position:absolute;
        z-index:99;
        top:55vw;
        left:46%;

        .swipe{
            width:2vw;
            border-bottom:0.3vw solid #ffffff;
            opacity:0.5;
            margin-right:1vw;
        }

        .active-swipe{
            opacity:1;
        }
    }

  }
  
  .logo-menu{
      position:fixed;
      top:0;
      left:0;
      bottom:0;
      width:40%;
      display:none;
      z-index:99;
      
      background-color:#EABB7F;

      ul{
          color:white;
          font-family:$bodoni;
          font-weight:700;
          font-size:2vw;
          padding:7vw 0vw 0vw 10vw;
          list-style-type: none;
          
          .anchors{
              color:white;
              text-decoration: none;
          }
          .cancel-mobile{
              font-family:$montserrat;
              font-weight:100;
              font-size:5.5vw;
              cursor:pointer;
              height:50%;
              transition:0.1s;

              &:hover{
                  opacity:0.5;
              }
          }
          .mobile-title{
              font-family:$montserrat;
              font-weight:100;
              font-size:2vw;
              padding-bottom:3vw;
          }
          .logo-menu-item{
              padding-bottom:2vw;
              cursor:pointer;
              transition:0.1s;

              &:hover{
                  opacity:0.5;
              }

          }
      }
  }




@media only screen and (min-width: $big-screen) {

    
}

@media only screen and (max-width:$tablet) and (min-width:$phone){

    .container,.inactive-container{

        .fixed-header{
            
    
            .fixed-header-logo{
                width:10vw;
            }
    
            .fixed-header-title{
                font-size:3vw;
                padding-top:1vw;
            }
    
        }

    }


  .logo-menu{
    

    ul{
      
        font-size:3vw;
        padding:15vw 0vw 0vw 10vw;

        .cancel-mobile{
           
            font-size:7vw;
           

            &:hover{
                opacity:1;
            }
        }
        .mobile-title{
            
            font-size:3vw;
            padding-bottom:4vw;
        }
        .logo-menu-item{
            padding-bottom:3vw;
            

            &:hover{
                opacity:1;
            }

        }
    }
}



}


@media only screen and (max-width:$phone){


    .child {
        
         .child-desc{
             
             font-size:6vw;
             top:140vw;
             left:10vw;
         }
      }

    .container,.inactive-container{

        .fixed-header{
            top:7vw;
            left:10vw;
            
    
    
            .fixed-header-logo{
                width:15vw;
            }
    
            .fixed-header-title{
                font-size:5vw;
                padding-top:1vw;
                font-weight:400;
            }
    
        }

    }


    .logo-menu{
        width:50vw;
    

        ul{
          
            font-size:5vw;
            padding:10vw 0vw 0vw 10vw;
    
            .cancel-mobile{
               
                font-size:10vw;
                padding-bottom:10vw;
               
    
                &:hover{
                    opacity:1;
                }
            }
            .mobile-title{
                
                font-size:5vw;
                padding-bottom:5vw;
            }
            .logo-menu-item{
                padding-bottom:4vw;
                
    
                &:hover{
                    opacity:1;
                }
    
            }
        }
    }
    





}
