@import '../Essentials/variables';


.intro-section{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
 background: rgb(0,0,0);
background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(44,72,133,1) 100%);     height:50rem;
    padding:15rem 5rem 0rem 5rem;

    h1{
        font-family:$avenir;
        font-size:$base-font-size;
        font-style:italic;
        color:white;
        font-weight:200;
        padding-top:5rem;
        

        .underline{
            font-style:normal;
            font-weight:500;

        }
    }
    
    .intro-1{
        padding-left:0;
    }
    .intro-2{
        padding-left:2rem;
    }
    .intro-3{
        padding-left:5rem;
    }

    .intro-images{
        width:50%;
        height:70%;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        div{
            position:absolute;
            height:12rem;
            width:12rem;

        }

        .intro-image-3{
            top:15rem;
            right:35rem;
        }
        .intro-image-1{
            top:15rem;
            right:15rem;
        }

        .intro-image-2{
            top:35rem;
            right:40rem;
            width:4rem ;
            height:4rem ;

        }
        .intro-image-4{
            top:30rem;
            right:15rem;

        }

        .rotate {
            animation: rotation 100s infinite linear;
         }

         .transform-1{
            animation: transform 15s infinite linear;
         }


        @keyframes rotation {
            0% {
                transform: rotate(0deg);

            }
            20% {
                transform: rotate(72deg);
            }
            40% {
                transform: rotate(144deg);
            }
            60% {
                transform: rotate(216deg);
            }
            80% {
                transform: rotate(288deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
           
            }
    }
}

  @media only screen and (min-width: $big-screen) {

            .intro-section{
                  
                
                padding:15rem 5rem 0rem 10rem;

                .intro-images{
                
                    .intro-image-3{
                        right:50rem;
                    }
                    .intro-image-1{
                       
                        right:25rem;
                    }

                    .intro-image-2{
                        right:50rem;
                        top:40rem;
                        

                    }
                    .intro-image-4{
                        top:35rem;
                        right:20rem;

                    }
                   

                }
  

            }
    
}

@media only screen and (max-width:$tablet) and (min-width:$phone){




    .intro-section{
    padding-top:10rem;
    justify-content:center;
    text-align:center;
    align-items:flex-start;
    
       .intro-text{
           padding-top:2rem;
       }
       h1{
        font-size:$tablet-font-size;
        
 
    }
    
    .intro-1{
        padding-left:0rem;
    }
    .intro-2{
        padding-left:0rem;
    }
    .intro-3{
        padding-left:0rem;
    }

    .intro-images{
        position:absolute;
      
        div{
            position:absolute;
            height:10rem;
            width:10rem;

        }

        .intro-image-3{
            top:25rem;
            right:20rem;
        }
        .intro-image-1{
            top:0rem;
            right:20rem;
            transform:rotate(75deg);
        }

        .intro-image-2{
            top:25rem;
            right:-5rem;
            transform:rotate(75deg);

        

        }
        .intro-image-4{
            top:0rem;
            right:-5rem;

        }

       


        
    }
}
    .rotate{
        animation :none !important;
    }
}


@media only screen and (max-width:$phone){

    .intro-section{
    padding-top:5rem;
    justify-content:center;
    text-align:center;
    align-items:flex-start;
    
       .intro-text{
           padding-top:2rem;
       }
       h1{
        font-size:$phone-font-size;
        
    
    }
    
    .intro-1{
        padding-left:0rem;
    }
    .intro-2{
        padding-left:0rem;
    }
    .intro-3{
        padding-left:0rem;
    }

    .intro-images{
        position:absolute;
      
        div{
            position:absolute;
            height:5rem;
            width:5rem;

        }

        .intro-image-3{
            top:18rem;
            right:10rem;
        }
        .intro-image-1{
            top:3rem;
            right:10rem;
            transform:rotate(75deg);
        }

        .intro-image-2{
            top:25rem;
            right:-4rem;
            transform:rotate(75deg);

        

        }
        .intro-image-4{
            top:5rem;
            right:-5rem;

        }

        
    }
}

    .rotate{
        animation :none !important;
    }
}
