@import '../Essentials/variables';


.services{
        background: linear-gradient(180deg, #2A4889 0%,#041A3A  100%); 

    background-color: #2A4889;
    padding:5rem 5rem;
    color:white;

   

    .service-flex{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-around;
        padding:2rem 0rem 5rem 0rem;

        .service-flex-box{
            display:flex;
            flex-flow:column nowrap;
            align-items:center;
            justify-content: center;
            h1{
                font-family:$avenir;
                font-weight:100;


            }
            .service-box-image{
                width:10vw;
                height:auto;
            }
        }
    }

    .second-services{
        background-color:black;
        max-width:100%;
        margin:0;
        width:100%;
        padding:0;
    }


    .services-title{
        text-align: right;
        font-family:$avenir;
        font-size:3vw;
        padding-right:5rem;
    }
    .services-title-outline{

        width:16rem;
        height:auto;
        position:absolute;
        right:0;
        margin-right:7.5rem;
        margin-top:-2.5rem;
    }

    .intro-text{

        font-family:$avenir;
        font-size:$base-font-size;
        padding:3rem 15rem;
        text-align:justify;
        font-weight:100;

    }

    .section1-intro{

        font-family:$questrial;
        font-size:2vw;
        color:#FFF6D8;
        padding:5rem 15rem;
        text-align:center;

    }
   

    .flex1{
        padding:5rem 0rem;
        display:flex;
        flex-flow:row wrap;

        .section1-text1{
            text-align:right;
            font-family:$avenir;
            font-size:$base-font-size;
            font-weight:100;
            width:50%;

        }
        .section1-text2{
            padding-top:5rem;
            padding-left:15rem;

            text-align:left;
            font-family:$avenir;
            font-size:$base-font-size;
            font-weight:100;
            width:40%;

        }

        b{
            font-weight:800;
        }

        .cubes{
            padding-left:10rem;
            width:15rem;
            height:auto;
            transform:rotateZ(10deg);
        }
        .squares{
            padding-top:8rem;
            padding-left:15rem;
            width:15rem;
            height:auto;
        }
    }

    .flex2{

        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;

        .section1-text3{
            width:30%;
            text-align:right;
            font-family:$avenir;
            font-size:$base-font-size;
            font-weight:100;

        }

        .pies{

            width:15rem;
            height:auto;
            padding-top:10rem;

        }

        .lines{
            margin-top:-5rem;
            width:15rem;
            height:auto;
            padding-left:3rem;
            transform:rotate(20deg);
        }
        .section1-text4{
            width:33%;
        
            text-align:left;
            font-family:$avenir;
            font-size:$base-font-size;
            font-weight:100;
            padding-top:15rem;


        }

        .triangle{
            padding-right:5rem;
            width:10rem;
            height:auto;

        }
        .section1-text5{
            width:30%;
            text-align:left;
            font-family:$avenir;
            font-size:$base-font-size;
            font-weight:100;
            padding-top:5rem;


        }
        b{
            font-weight:800;
        }

    }

    


}
.second-services{
    background: linear-gradient(180deg,#041A3A  50%, #2A4889 100%); 

    padding:10rem 5rem;
    color:white;        
    
        .section2-intro{
            font-family:$questrial;
            font-size:2vw;
            color:#FFF6D8;
            text-align:center;

        }

        .flex3{
            padding:5rem 0rem;
            display:flex;
            flex-flow:row wrap;

            .section2-text1{
                text-align:right;
                font-family:$avenir;
                font-size:$base-font-size;
                font-weight:100;
                width:50%;

            }
            .section2-text2{
                text-align:left;
                font-family:$avenir;
                font-size:$base-font-size;
                font-weight:100;
                width:40%;
                padding-top:5rem;
                padding-left:10rem;

            }
            .squares{
            padding-left:10rem;
                width:15rem;
                height:auto;

            }

            .cubes{
                padding-top:5rem;
                padding-left:15rem;

                width:15rem;
                height:auto;
            }

}}


@media only screen and (min-width: $big-screen) {

    .services{
    
        .services-title{
            
            font-size:3vw;
        }
        .services-title-outline{
    
            width:20rem;
            margin-right:8rem;
            margin-top:-2.8rem;
        }
    
       
    
        .flex1{
    
            .section1-text1{
                
                width:51%;
    
            }
        
            .cubes{
                width:20rem;
                
            }
            .squares{
                padding-left:23rem;
                width:20rem;
            }
        }
    
        .flex2{
    
            .section1-text3{
                width:35%;
                
    
            }
    
            .pies{
    
                width:20rem;
                
    
            }
    
            .lines{
                width:20rem;
                
            }
            .section1-text4{
                width:35%;
            
    
    
            }
    
            .triangle{
                padding-top:10rem;
                width:15rem;
    
            }
            .section1-text5{
                width:35%;
                
    
    
            }
           
    
        }
    
        
    
    
    }
    .second-services{
    
        
    
            .flex3{
               
    
                
                .section2-text2{
                    
                    width:50%;
                    
    
                }
                .squares{
                    width:20rem;
    
                }
    
                .cubes{
    
                    width:20rem;
                    height:auto;
                }
    
    }}
}

@media only screen and (max-width:$tablet) and (min-width:$phone){


     .services{
        padding:3rem 2rem;
    
        .second-services{
            background-color:black;
            max-width:100%;
            margin:0;
            width:100%;
            padding:0;
        }
    
    
        .services-title{
            font-size:5vw;
            padding-right:7rem;
        }
        .services-title-outline{
            width:16rem;
            height:auto;
            position:absolute;
            right:0;
            margin-right:5rem;
            margin-top:-2.5rem;
        }
    
        .intro-text{
    
            font-size:$tablet-font-size;
            padding:3rem 3rem;
    
        }
    
        .section1-intro{
    
            font-size:4vw;
            padding:5rem 5rem;
    
        }
       
    
        .flex1{
            padding:3rem 0rem;
            display:flex;
            flex-flow:row wrap;
    
            .section1-text1{
                font-size:$tablet-font-size;
                width:50%;
    
            }
            .section1-text2{
                padding-top:3rem;
                padding-left:2rem;
    
                font-size:$tablet-font-size;
                width:50%;
    
            }
    
            .cubes{
                padding-left:3rem;
                padding-top:4rem;
               
            }
            .squares{
                padding-top:8rem;
                padding-left:5rem;
              
            }
        }
    
        .flex2{

            justify-content: space-around;
    
            .section1-text3{
                width:50%;
                text-align:right;
                font-family:$avenir;
                font-size:$tablet-font-size;
                font-weight:100;
    
            }
    
            .pies{
    
                width:15rem;
                height:auto;
                padding-top:10rem;
                padding-right:5rem;
    
            }
    
            .lines{
                position:absolute;
                margin-top:0rem;
                left:0;

                width:15rem;
                height:auto;
                padding-left:12rem;
                padding-right:0rem;
                padding-top:37rem;
                
            }
            .section1-text4{
                width:50%;
            
                text-align:right;
                font-size:$tablet-font-size;
                padding-top:35rem;
    
    
            }
    
            .triangle{
                position:absolute;
                right:0;
                margin-right:5rem;
                margin-top:70rem;
                width:10rem;
                height:auto;
    
            }
            .section1-text5{
                width:50%;
                font-size:$tablet-font-size;
               
                padding-top:5rem;
    
    
            }
           
    
        }
    
        
    
    
    }
    .second-services{
    
        padding:3rem 2rem;
        
            .section2-intro{
                font-size:4vw;
                
            }
    
            .flex3{
                padding:3rem 0rem;
                display:flex;
                flex-flow:row wrap;
    
                .section2-text1{
                    text-align:right;
                    font-size:$tablet-font-size;
                    width:50%;
    
                }
                .section2-text2{
                    text-align:left;
                    font-size:$tablet-font-size;
                    width:50%;
                    padding-top:5rem;
                    padding-left:2rem;
    
                }
                .squares{
                    padding-left:2rem;
                    padding-top:5rem;
                    width:15rem;
                    height:auto;
    
                }
    
                .cubes{
                    padding-top:10rem;
                    padding-left:3rem;
    
                    width:15rem;
                    height:auto;
                }
    
    }}



}

@media only screen and (max-width:$phone){


  
    .services{
        padding:3rem 1rem;

        .service-flex{
            flex-flow:column nowrap;
            padding:0rem;

            .service-flex-box{
                 padding-bottom:5rem;
               
                .service-box-image{
                    width:25vw;
                }
            }
        }
    
    
        .services-title{
            font-size:7vw;
            padding-right:7rem;
        }
        .services-title-outline{
            width:12rem;
            height:auto;
            position:absolute;
            margin-right:5rem;
            margin-top:-2.3rem;
        }
    
        .intro-text{
    
            font-size:$phone-font-size;
            padding:1rem 1rem;
    
        }
    
        .section1-intro{
    
            font-size:6vw;
            padding:3rem 1rem;
    
        }
       
    
        .flex1{
            padding:3rem 0rem;
            display:flex;
            flex-flow:column nowrap;
    
            .section1-text1{
                font-size:$phone-font-size;
                width:100%;
                text-align:center;
    
            }
            .section1-text2{
                padding-top:0rem;
                padding-left:0rem;
                text-align:center;
                font-size:$phone-font-size;
                width:100%;
    
            }
    
            .cubes{
                width:10rem;
                height:auto;
                padding-left:0;
                display:block;
                margin:auto;
                padding-top:4rem;
                padding-bottom:4rem;
               
            }
            .squares{
                display:none;
              
            }
        }
    
        .flex2{
            flex-flow:column nowrap;
    
            .section1-text3{
                width:100%;
                text-align:center;
                font-size:$phone-font-size;
    
            }
    
            .pies{
    
                width:15rem;
                height:auto;
                padding-top:4rem;
                padding-bottom:4rem;
                display:block;
                margin:auto;
    
            }
    
            .lines{
                margin-top:0rem;
                width:13rem;
                height:auto;
                padding:4rem 0rem;
                display:block;
                margin:auto;
                
            }
            .section1-text4{
                width:100%;
            
                text-align:center;
                font-size:$phone-font-size;
                padding-top:0rem;
    
    
            }
    
            .triangle{
                margin-right:0rem;
                margin-top:0rem;
                display:block;
                margin:auto;
                padding:4rem 0rem;
                width:10rem;
                height:auto;
    
            }
            .section1-text5{
                width:100%;
                text-align:center;
                font-size:$phone-font-size;
               
                padding-top:0rem;
    
    
            }
           
    
        }
    
        
    
    
    }
    .second-services{
    
        padding:3rem 1rem;
        
            .section2-intro{
                font-size:$phone-font-size
                
            }
    
            .flex3{
                padding:3rem 0rem;
                display:flex;
                flex-flow:column nowrap;
    
                .section2-text1{
                    text-align:center;
                    font-size:$phone-font-size;
                    width:100%;
    
                }
                .section2-text2{
                    text-align:center;
                    font-size:$phone-font-size;
                    width:100%;
                    padding-top:0rem;
                    padding-left:0rem;
    
                }
                .squares{
                    padding:4rem 0rem;
                    width:15rem;
                    height:auto;
                    display:block;
                    margin:auto;
    
                }
    
                .cubes{
                    display:none;
                }
    
    }}



}