@import './variables';

.insights-section{

    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    font-family:$montserrat;
    padding:5vw 5vw 5vw 10vw;
    margin-top:-2vw;

    h1{
        font-family:$bodoni;
        font-size:3vw;

    }

    .filter-box{
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        align-items: center;

        p{
            font-size:1.5vw;
            font-weight:200;

        }
       
        .filter-icons{
            display:flex;
            flex-flow:row nowrap;
            justify-content: space-between;
            align-items: center;

            h1{
                font-weight:100;
                font-size:1vw;
            }
            .icon{
                width:3.5vw;
                height:auto;
                padding-right:2vw;
                opacity:0.4;
            }
            .icon-click{
                width:3.5vw;
                height:auto;
                padding-right:2vw;
                opacity:1;
        
            }

           
        }
    }
    

    .filter-field{
        padding-top:2vw;
        display:flex;
        align-items:center;
        justify-content: space-between;
        position:relative;
        height:110vh;

        .right-arrow,.left-arrow{

            width:2.5%;
            height:auto;
            cursor:pointer;
            visibility:visible;
        }
        .disable-arrow{
            visibility:hidden;
            width:2.5%;
        }

        .section{
            display:flex;
            flex-flow:row wrap;
            justify-content:flex-start;
            width:94%;
            z-index:0;
            position:absolute;
            top:5vh;
            left:3%;
            transition:all 1s;
            


        }
      

        .first-box{
            width:100%;
            height:40vw;
            position:relative;
            margin-bottom:1vw;

            .box{
                top:0vw;
                opacity:0;

            }

            .boxBack{

                top:0vw;
                opacity:0;
            }
            

            .box,.boxBack{
                width:100%;
                height:100%;
                position:absolute;
                left:0;
           

            h1{
                position:absolute;
                top:5vw;
                left:2vw;
                color:white;
                font-weight:800;
                font-family:$montserrat;
                font-size:2.5vw;
                padding-right:60vw;
            }
            .box-icon{
                position:absolute;
                top:1vw;
                left:1vw;
                width:2.5vw;
                height:auto;
             }

            //  &:hover{
            //      opacity:0.9;
            //  }
            }


        }

        .disable-box{
            opacity:0;
            transition:all 0.3s;

        }
        .others{  
            width:32%;        
            background-color:black;
            height:40vh;
            position:relative;      
            display:flex;
            align-items:flex-start;
            justify-content: center;
            cursor: pointer;
            transition:all 0.3s;


            h1{
                color:white;
                font-weight:800;
                font-family:$montserrat;
                font-size:2vw;
                padding:4vw 2vw 1vw 5vw;


            }
            .box-icon{
                position:absolute;
                top:1vw;
                left:1vw;
                width:2.5vw;
                height:auto;
            }
            &:hover{
                opacity:0.8;
            }
        }
        .others-1{
            margin-right:2%;

        }
        .others-3{
            margin-left:2%;

        }

    }
}



  


@media only screen and (min-width: $big-screen) {

    .insights-section{

        
        padding:5vw 5vw 10vw 10vw;

    
}}

@media only screen and (max-width:$tablet) and (min-width:$phone){

   
  



}


@media only screen and (max-width:$phone){



}
