@import './variables';



 

.intro-flex{
    position:relative;
    height:100vh;
    width:100vw;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

   
    
    .right-arrow,.left-arrow{
        position:absolute;
        width:1.5vw;
        height:auto;
        top:50%;
        font-size:3vw;
        z-index:1;
        opacity:0.8;
        cursor:pointer;
  
    }
    .right-arrow{
        right:2vw;
    }
    .left-arrow{
        left:1vw;
    }

    .child {
       
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:block;

        .cover{
            height:100%;
            width:100%;
        }
       
        
       
    
    
         .child-desc{
             color:white;
             font-family:$montserrat;
             font-weight:900;
             font-size:3vw;
             position:absolute;
             top:22vw;
             left:10vw;
         }
      }
      
      .second-child,.third-child{
          display:none;
      }
      
     

}



.inactive-flex {
    overflow: hidden;
    display:flex;
    flex-flow:row nowrap;
    width:100vw;
    

    scrollbar-width: none;

   
  }

.intro-flex::-webkit-scrollbar{
    display: none;
 }
  
 

  


  .stop-scroll{
      position:fixed;
      top:0;
      width:100%;
      overflow: hidden;
      

  }

  

  .container{


    .fixed-header{
        position:absolute;
        top:120vh;
        left:10vw;
        color:white;
        z-index:1;


        .fixed-header-logo{
            width:5vw;
            height:auto;
        }

        .fixed-header-title{
            font-family:$montserrat;
            font-weight:100;
            font-size:1.6vw;
            padding-top:1vw;
        }

    }


  }


  
  
.container-swipe-lines{
    display:flex;
    position:absolute;
    bottom:2vw;
    left:46%;

    .swipe{
        width:2vw;
        border-bottom:0.3vw solid #ffffff;
        opacity:0.5;
        margin-right:1vw;
        z-index:0;
        cursor:pointer;

    }

    .active-swipe{
        opacity:1;
        cursor:pointer;

    }
}


  


@media only screen and (min-width: $big-screen) {

    
}

@media only screen and (max-width:$tablet) and (min-width:$phone){

    .container,.inactive-container{

        .fixed-header{
            
    
            .fixed-header-logo{
                width:10vw;
            }
    
            .fixed-header-title{
                font-size:3vw;
                padding-top:1vw;
            }
    
        }

    }


  .logo-menu{
      width:50%;
    

    ul{
      
        font-size:3vw;
        padding:15vw 0vw 0vw 10vw;

        .cancel-mobile{
           
            font-size:7vw;
           

            &:hover{
                opacity:1;
            }
        }
        .mobile-title{
            
            font-size:3vw;
            padding-bottom:4vw;
        }
        .logo-menu-item{
            padding-bottom:3vw;
            

            &:hover{
                opacity:1;
            }

        }
    }
}


  



}


@media only screen and (max-width:$phone){


    .child {
        
         .child-desc{
             
             font-size:6vw;
             top:140vw;
             left:10vw;
         }
      }

    .container,.inactive-container{

        .fixed-header{

            top:7vw;
            left:10vw;

            
    
    
            .fixed-header-logo{
                width:15vw;
            }
    
            .fixed-header-title{
                font-size:5vw;
                padding-top:1vw;
                font-weight:400;
            }
    
        }

    }

    .logo-menu{
        width:50vw;
        z-index:99;
        
    

        ul{
          
            font-size:5vw;
            padding:10vw 0vw 0vw 10vw;
    
            .cancel-mobile{
               
                font-size:10vw;
                padding-bottom:10vw;
               
    
                &:hover{
                    opacity:1;
                }
            }
            .mobile-title{
                
                font-size:5vw;
                padding-bottom:5vw;
            }
            .logo-menu-item{
                padding-bottom:4vw;
                
    
                &:hover{
                    opacity:1;
                }
    
            }
        }
    }


  .container-swipe-lines{
    display:flex;
    position:absolute;
    bottom:10vw;
    left:40%;

    .swipe{
        width:8vw;
        border-bottom:1.5vw solid #ffffff;
        opacity:0.5;
        margin-right:1vw;

    }

    .active-swipe{
        opacity:1;
    }
}
   

    





}
