@import './variables';

.logo-menu{
    
    width:100%;
    display:none;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    display:none;

    

    background-color:#EABB7F;

  .left{
    width:40%;


    ul{
        color:#474747;
        font-family:$bodoni;
        font-weight:200;
        font-size:3vw;
        padding:2vw 0vw 0vw 5vw;
        list-style-type: none;
        
        .anchors{
            color:#474747;
            text-decoration: none;
        }
        .cancel-mobile{
            font-family:$montserrat;
            font-weight:100;
            font-size:5.5vw;
            cursor:pointer;
            height:50%;
            transition:0.1s;
            color:white;

            &:hover{
                opacity:0.5;
            }
        }
        .mobile-title{
            font-family:$montserrat;
            font-weight:100;
            font-size:2vw;
            padding-bottom:3vw;
        }
        .logo-menu-item{
            padding-bottom:2vw;
            cursor:pointer;
            transition:0.3s;
            

            &:hover{
                color:white;
            }

        }
    }
}
    .right{
        display:flex;
        width:30%;

        .logo-text{
            width:10vw;
            height:auto;
        }

        .menu-socials{

            display:flex;
            flex-flow:row nowrap;
        }
    }
}


@media only screen and (max-width:$tablet) and (min-width:$phone){

   


  .logo-menu{
      width:50%;
    

    ul{
      
        font-size:3vw;
        padding:15vw 0vw 0vw 10vw;

        .cancel-mobile{
           
            font-size:7vw;
           

            &:hover{
                opacity:1;
            }
        }
        .mobile-title{
            
            font-size:3vw;
            padding-bottom:4vw;
        }
        .logo-menu-item{
            padding-bottom:3vw;
            

            &:hover{
                opacity:1;
            }

        }
    }
}


  



}


@media only screen and (max-width:$phone){


  

    .logo-menu{
        width:50vw;
        z-index:99;
        
    

        ul{
          
            font-size:5vw;
            padding:10vw 0vw 0vw 10vw;
    
            .cancel-mobile{
               
                font-size:10vw;
                padding-bottom:10vw;
               
    
                &:hover{
                    opacity:1;
                }
            }
            .mobile-title{
                
                font-size:5vw;
                padding-bottom:5vw;
            }
            .logo-menu-item{
                padding-bottom:4vw;
                
    
                &:hover{
                    opacity:1;
                }
    
            }
        }
    }


 

   

    





}
