@import './variables';




.services-section{

    display:flex;
    flex-flow:row nowrap;
    font-family:$montserrat;
    padding:5vw 10vw 0vw 10vw;
    position:relative;
    

    .services-section-left{
        width:50%;

        .services-section-title{
            font-family:$bodoni;
            font-size:3vw;
        }

        .services-section-intro{
            padding:2vw 5vw 3vw 0vw;
            font-weight:200;
            font-size:1.3vw;
        }
        .services-section-separator{
            width:20%;
              height:0.5vw;
              background-color:#E6B77F;
              border:none;
        }

        .services-section-quote{

            color:#E6B77F;
            font-weight:700;
            font-size:2.3vw;
            padding-top:2vw;
        }
    }

    .services-section-right{
        padding-top:4vw;
        width:50%;
        padding-left:20vw;

       
        .icon-flex{
            display:flex;
            padding-bottom:3vw;
            align-items:center;
            justify-content: flex-start;

            div{
                width:6vw;
                height:auto;
            }

            h1{
                font-family:$montserrat;
                font-size:2vw;
                font-weight:300;
                padding-left:2vw;
            }
        }

        .services-section-cubes{
            position:absolute;
            width:18vw;
            height:18vw;
            top:60%;
            left:37%;
            z-index:-1;
            
        }
    }

   
}
.services-section-services-container{
    margin:2vw 5vw 10vw 10vw;
    position:relative;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items:center;

    .container-swipe-lines{
        display:flex;
        position:absolute;
        top:110%;
        left:43.2%;
    
        .swipe{
            width:2vw;
            border-bottom:0.3vw solid #E6B77F;
            opacity:0.5;
            margin-right:1vw;
            z-index:1;
    
        }
    
        .active-swipe{
            opacity:1;
        }
    }



    .left-arrow,.right-arrow {
        width:3%;
        cursor: pointer;
    }
    .right-arrow{
        transform:rotate(180deg);
    }
    
    .disable-arrow{
        opacity:0;
        cursor:auto;
        width:3%;
        
    
    }
    
    

    .services-section-services{

        
        position:relative;
        height:23vw;
        width:94%;
        
        
        .first-slide{
            z-index:-1;
            display:none;
        }
        .second-slide{
            z-index:-1;
            display:none;
        }
        .third-slide{
            z-index:-1;
            display:none;
        }
        
        .fourth-slide{
            width:100%;
            min-width:100%;
            z-index:-1;
            display:none;
        }
        
        
        .slide{
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            opacity:0;

            .box{
                background-color: #E6B77F;
                height:23vw;
                width:25vw;
                
                font-family:$montserrat;
                text-align:center;
                position:relative;
                display:flex;
                justify-content: center;
                cursor:pointer;
                margin:0vw 1vw;

                &:hover {
                    background-color:white;
                }


                &:hover > div{

                    opacity:1;

                }
                &:hover > h1{

                    color:#E6B77F;
                    opacity:0.3;
                    


                }

                

                h1{
                    color:white;
                    font-weight:800;
                    position:absolute;
                    height:100%;
                    width:80%;
                    display:flex;
                    align-items:center;
                    justify-content: center; 
                    opacity:1;
                    transition:0.5; 
                    text-align:left;
                    font-size:2.3vw;

                }

                div{
                    opacity:0;
                    height:100%;
                    width:100%;
                    transition:0.5s;
                    z-index:0;
                    display:flex;
                    align-items:center;
                    justify-content: flex-start;
                    text-align:left; 
                    padding:0vw 4vw 0vw 1vw;
                    font-size:1.3vw;
                    font-weight:300;
                    
                }
            }
        }
        
        
    }
}
.services-swipe-lines{
    display:flex;
    justify-content: center;
    padding-right:2.5vw;
    padding-bottom:5vw;

    .swipe{
        width:2vw;
        border-bottom:0.3vw solid #E6B77F;
        opacity:0.5;
        margin-right:1vw;
    }

    .active-swipe{
        opacity:1;
    }
}

.services-section-services::-webkit-scrollbar{
    display: none;
 }




@media only screen and (min-width: $big-screen) {


}

@media only screen and (max-width:$tablet) and (min-width:$phone){


}

@media only screen and (max-width:$phone){




}