@import './variables';

.stories-section{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    padding:5vw 5vw 5vw 10vw;
    font-family:$montserrat;
    position:relative;


    .stories-section-left{
        width:35%;

        .stories-section-title{
            font-family:$bodoni;
            font-size:3vw;


        }

        .stories-section-quote{

            color:#E6B77F;
            font-weight:800;
            font-size:2.3vw;
            padding:2vw 0vw;


        }

        .stories-section-separator{

            width:40%;
            height:0.5vw;
            background-color:#E6B77F;
            border:none;


        }

        .stories-section-images{
            display:flex;
            flex-flow:column nowrap;
            position:relative;
            width:100%;
            height:70%;
           
            .stories-section-icon{
                height:auto;
                opacity:0.4;
                position:absolute;
            }
            .square{
                width:18vw;
                left:15vw;
                top:5vw;

            }
            .rshape{
                left:0vw;
                top:15vw;
                width:12vw;
            }
            .triangle{
                width:10vw;
                top:32vw;
                left:20vw;
            }
            .rectangle{

                width:13vw;
                top:35vw;
                left:0vw;
            }



        }

    }
    .stories-section-right{
        width:50%;
        padding-top:2vw;
        position:relative;
        .arrows{
            position:absolute;
            left:-4vw;
            top:49%;
            width:1.8vw;
            height:auto;
            cursor:pointer;
        }
        .up-arrow{
            transform:rotate(90deg);
        }
        .down-arrow{
            transform:rotate(-90deg);

        }

        .disable-arrow{
            width:1.8vw;
            height:auto;
            visibility:hidden;
        }
        .stories-section-container{
            scrollbar-width: none;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none; /* IE 11 */
            position:relative;
            height:75vw;
            &::-webkit-scrollbar {
                display: none;
            }

            .section{
                
                position:absolute;
                top:0;
                left:0;
                width:100%;
                display:none;
                opacity:0;


            

            .stories-section-box{
                position:relative;
                height:25vw;
                width:100%;
                transition:all 0.5s;
                z-index:0;

                &:hover > .stories-section-story-image{
                    filter:  contrast(1.3) grayscale(1) ;
                }

                &:hover > .stories-section-box-title{
                    
                    opacity:1;
                  

                }



                .stories-section-box-title{
                    position:absolute;
                    top:0;
                    z-index:1;                   
                     font-weight:800;
                    font-size:2.5vw;
                    color:white;
                    opacity:0;
                    transition:all 0.5; 
                    text-align:left;
                    display:flex;
                    align-items:center;
                    justify-content: center; 
                    width:40%;
                    height:100%;
                    bottom:0;
                    left:4vw;








                }
                .stories-section-story-image{
                    transition:all 0.5s;
                    overflow:hidden;
                    
                    
                }
            }

        }
    }
        
    }
}




@media only screen and (min-width: $big-screen) {

}

@media only screen and (max-width:$tablet) and (min-width:$phone){

}

@media only screen and (max-width:$phone){
}