@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




$base-font-size:1.5vw;
$tablet-font-size:3vw;
$phone-font-size:5vw;

$header-font-size:5rem;

$montserrat : 'Montserrat',sans-serif;
$bodoni : 'Bodoni Moda',serif;







$tablet:980px;
$phone:480px;
$big-screen:1640px;