@import 'Home/intro';
@import 'Home/about';
@import 'Home/services';
@import 'Home/team';




@import 'Essentials/header';
@import 'Essentials/variables';
@import 'Essentials/footer';


@import 'Templates/story';
@import 'Templates/article';

@import 'Insights/insights';




body{
    margin:0;
    background-color:#2A4889;
    overflow-x:hidden;

}

html{
    scrollbar-color: #474747 white;

}