@import 'intro';
@import 'about';
@import 'services';
@import 'stories';
@import 'insights';
@import 'team';
@import 'footer';

@import 'Templates/story';



@import '/logo';



// @import 'Templates/story';
// @import 'Templates/article';

// @import 'Insights/insights';

*{
    margin:0;
    padding:0;
}

body{
    overflow-x:hidden;
}

.orange-logo{
    
    background-color:#E6B77F;
    width:5vw;
    height:4vw;
    padding:1vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    z-index:2;
    opacity:1;

}

.go-top{
    width:3vw;
    height:3vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:90vmin;
    left:1vw;
    z-index:1;
    opacity:0.8;
    transition:all 0.3s;
    visibility: visible;

    &:hover{
        opacity:1;
    }


}

.parallax-container{
    position:relative;
    height:35vw;
    overflow:hidden;
    display:flex;
    align-items:center;
    
    .parallax-cover{
       position:absolute;
       left:0;
        height:150%;
        width:100vw;
       top:-45vh;
    
        
    }
}




@media only screen and (min-width: $big-screen) {

    
}

@media only screen and (max-width:$tablet) and (min-width:$phone){

    .orange-logo{
    
       
        width:10vw;
        height:8vw;

        padding:2vw 1vw;
        
    }

    .go-top{
      
        width:3vw;
        height:3vw;
        padding:1.5vw 1vw 1vw 1vw;
       
    
        &:hover{
            display:none;
        }
    
    
    }
}

@media only screen and (max-width:$phone){


    .orange-logo{
    
       
        width:12vw;
        padding:5vw 1vw;
        
    }

}