@import 'Home/intro';
@import 'Home/about';
@import 'Home/services';

@import 'Essentials/logo';



// @import 'Templates/story';
// @import 'Templates/article';

// @import 'Insights/insights';

*{
    margin:0;
    padding:0;
}

body{
    overflow-x:hidden;
}

.orange-logo{
    
    background-color:#E6B77F;
    width:5vw;
    padding:1vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    z-index:1;

}





@media only screen and (min-width: $big-screen) {

    
}

@media only screen and (max-width:$tablet) and (min-width:$phone){

    .orange-logo{
    
       
        width:10vw;
        padding:2vw 1vw;
        
    }

}

@media only screen and (max-width:$phone){


    .orange-logo{
    
       
        width:12vw;
        padding:5vw 1vw;
        
    }

}