.filter-bar{

    padding:10vw 10vw 1vw 5vw;
    
    label{
        font-size:$base-font-size;
        color:white;
        font-family:$futura;
        padding-right:5vw;
    }
}



.insights-flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-items:center;
    padding:10vw 5vw;
   
    .postShort{
        width:33.3%;
        height:45vw;
        transition:0.2s;
         
        &:hover{
            transform:scale(1.1);
        }
        .postShort-image{
            width:25vw;
            height:15vw;
        }

        .postShort-details{
            font-family:$avenir;
            color:white;
            padding:0vw 3vw 2vw 3vw;
        }
    }

   
}