@import './variables';

.story{
    position:relative;
    font-family:$montserrat;

    .story-cover{
        width:100vw;
        height:30vw;
    }
    .story-logo-header{
        position:absolute;
        top:5vw;
        left:8vw;
        color:white;
        .story-logo-menu{
        z-index:10;
        
        width:5vw;
        height:auto;

        }
        .title{
        
         font-size:1.5vw;
         font-weight:200;
         padding-top:1vw;

        }
        .story-title{

         font-family:$bodoni;
         font-size:2.3vw;
         padding-top:11vw;

        }
    }

    .story-intro{

        padding:1vw 8vw;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .story-intro-left{

            .story-title{
                color:#E6B77F;
                font-weight:900;
                font-size:2.3vw;


            }
            .story-title-explanation{

                font-weight:200;
                font-size:1.3vw;

            }
       }
        .story-intro-right{
            display:flex;
            flex-flow:row nowrap;
            justify-content: space-between;
            width:20%;

            .story-icon{

                width:4vw;
                height:auto;
                z-index:-1;


            }
        }
    }

   

    .story-text{
        padding:2vw 8vw 2vw 8vw;

        .solution-images,.outcome-images,.challenge-images{
            display:flex;
            flex-flow:row wrap;
            justify-content:flex-start;
            align-items:center;
            padding:1vw 0vw;
            .story-image{
                z-index:-1;
            }
    
            
        }
        .solution-images{
            .story-image{
                width:100%;
                height:auto;
            }
        }
        .challenge-images{
            .story-image{
                width:33.3%;
                height:auto;
            }
        }
        .outcome-images{
            .story-image{
                width:50%;
                height:auto;
            }
        }

   
        .story-separator{

            width:20%;
            height:0.3vw;
            background-color:#E6B77F;
            border:none;
            margin-bottom:2vw;

        }

        .story-text-title{
            font-weight:300;
            font-size:2.3vw;


        }
        .story-text-desc{
            font-weight:300;
            font-size:1.3vw;
            padding:2vw 22vw 2vw 0vw;

        }
  }
    
}

@media only screen and (min-width: $big-screen) {
}
  
@media only screen and (max-width:$tablet) and (min-width:$phone){

}


@media only screen and (max-width:$phone){



}
