$base-blue:#2C4885;



$base-font-size:1.5vw;
$tablet-font-size:3vw;
$phone-font-size:5vw;

$header-font-size:5rem;

$futura : 'Futura',sans-serif;
$avenir : 'Avenir',sans-serif;
$questrial:'Questrial', sans-serif;





$tablet:980px;
$phone:480px;
$big-screen:1640px;